lib/
node_modules/
coverage/
npm-debug.log
lerna-debug.log
yarn-error.log
.idea
.vscode
packages/*/package-lock.json
schema.json
.DS_Store
build/
packages/database-mongo-password/globalConfig.json
packages/database-mongo-sessions/globalConfig.json
