/* your custom css */

.homeContainer .homeWrapper {
  padding: 2em 1em;
}

.projectLogo {
  display: block;
  pointer-events: auto;
  padding: 1em 0em;
}

.homeContainer .homeWrapper .projectLogo img {
  height: auto;
}

.projectTitle {
  margin-top: 0;
}

.projectTitle small {
  margin-top: 1em;
}

@media only screen and (min-width: 1200px) {
  .homeContainer .homeWrapper .projectLogo {
    justify-content: center;
    position: relative;
    padding: 1em 0em;
  }

  .homeContainer .homeWrapper .projectLogo img {
    max-width: 550px;
  }
}
