/* your custom css */

.fixedHeaderContainer {
  background: #ffffff;
  border-bottom: 1px solid #f6f6f6;
}

.container.grey {
  background-color: #f6f6f6;
}

.homeContainer .homeWrapper {
  padding: 2em 1em;
}

.projectLogo {
  display: block;
  pointer-events: auto;
  padding: 1em 0em;
}

.homeContainer .homeWrapper .projectLogo img {
  height: auto;
  width: 550px;
}

.projectTitle {
  margin-top: 0;
}

.projectTitle small {
  margin-top: 1em;
}

@media only screen and (min-width: 1200px) {
  .fixedHeaderContainer {
    padding: 1em 0;
  }

  .fixedHeaderContainer header {
    align-items: center;
  }

  .fixedHeaderContainer a {
    height: 40px;
  }

  .navigationSlider .slidingNav ul li a {
    color: #8fced1;
  }

  .navPusher {
    /* Size of the header */
    padding-top: 73px;
  }

  .mainContainer .wrapper {
    max-width: 1100px;
  }

  .homeContainer .homeWrapper {
    padding: 6em 2em 1em;
  }

  .homeContainer .homeWrapper .projectLogo {
    justify-content: center;
    position: relative;
    padding: 1em 0em;
  }

  .gridBlock > * {
    margin: 0 25px;
  }
}
